.table-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.table-content table {
    width: 64.375rem;
    height: 21.875rem;
    flex-shrink: 0;
    background: var(--Branco-neve, #FFFAFA);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.music-table tr,
.music-table td,
.music-table th {
    /* border: 1px solid #000; */
    align-content: center;
    border-collapse: collapse;
    text-align: center;
}

.music-table tr {
    height: 2rem;
}

.final-row {
    height: 3rem;
}

.final-row button {
    width: 5.4375rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 0.8125rem;
    border: 1px solid #EC221F;
    background: var(--Branco-neve, #FFFAFA);
    color: #EC221F;
}

.btn-verdados {
    width: 5.4375rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 0.8125rem;
}