.home {
    display: flex;
    flex-direction: column;
}

.title {
    /*background-color: rgb(245, 199, 199);*/
    display: flex;
    justify-content: center;
    padding: 2.5rem;
}

.title h1 {
    font-size: 2rem;
}

.welcome-div {
    /*background-color: rgb(175, 175, 245);*/
    display: flex;
    justify-content: center;
}

.blank-div {
    background-color: #FFFAFA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    width: 160vh;
    height: 60vh;
    border-radius: 0.875rem;
    opacity: 0.8;
}

.welcome-message {
    /*background-color: blueviolet;*/
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    width: 80vh;
    margin: 2rem;
    padding-top: 1rem;
}

.welcome-message h1 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    align-self: stretch;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.03rem;
    color: #1E1E1E;
}

.welcome-message p {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 350;
}

#welcome-subtitle {
    align-self: stretch;
    font-style: normal;
    line-height: 120%;
    mix-blend-mode: multiply;
    color: #757575;
}

#gratuita {
    color: #000;
}

#welcome-text {
    height: 12.5rem;
    flex: 1 0 0;
    font-size: 1.05rem;
    font-style: normal;
    line-height: 140%;
    text-align: justify;
}

.welcome-image {
    /*background-color: brown;*/
    width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    margin-right: 7rem;
}

.welcome-image img {
    width: 100%;
}