/* Reset geral */
@import url(../styles/reset.css);

/* Header */
@import url(../styles/header.css);

/* Body  */
@import url(../styles/body/body.css);
@import url(../styles/body/content.css);
@import url(../styles/body/table.css);

/* Footer */
@import url(../styles/footer/footer.css);

@import url(../styles/alert.css);

/* danger-cats */
@import url(../styles/easteregg/style.css);

/* sobre nós*/
@import url(../styles/sobrenos/style.css);

/* ViewPort Android */
@import url(../styles/ViewPortAndroid/style.css);

:root {
    --Branco-neve: #FFFAFA;
    --Cor-header: #fffafa;
    --Cor-texto: #000;
    --Cor-texto2: #f03a47;
    --Cor-numeros: ;
    --Cor-bnt: ;
    --Fonte: "Inter";
    --Border-radius-10: 0.625rem;
}

body {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--Fonte), sans-serif;
    background-color: #E0E1DD;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    flex: 1; 
}

@media (max-width: 360px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 95%;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1rem;
    }
}
